{{define "base"}}
    <!doctype html>
    <html lang='en'>
        <head>
            <meta charset='utf-8'>
            <link rel='stylesheet' href='/static/css/main.css'>
            <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
            <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu'>
            <title>{{ template "title" .}} - Snippetbox</title>
        </head>
        <body>
            <header>
                <h1>
                    <a href='/'>Snippetbox</a>
                </h1>
            </header>
            <nav>
                <div>
                    <a href="/">Home</a>
                    <a href='/snippet/create'>New Snippet</a>
                </div>
                <div>
                    <a href='/user/signup'>Signup</a>
                    <a href='/user/login'>Login</a>
                    <form action='/user/logout' method='POST'>
                        <button>Logout</button>
                    </form>
                </div>
            </nav>
            <section>
                {{with .Flash}}
                    <div class="flash">{{.}}</div>
                {{end}}
                {{template "body" .}}
            </section>
            {{template "footer" .}}
        </body>
    </html>
{{end}}